<!-- TODO: here is where you will create your team -->

<!-- TODO: FORM

    1. Team Name
    2. Select box to show the list of available players
        - This data should be statically created.
        - First name, last name, position, years in league, stats (points pg, assists pg, rebounds pg, steals pg)
    3. Submit
-->

<style>
    .player-list li {
        display: flex;
        list-item: none;
        margin: 16px 0;
    }

    .player-list li div {
        margin-right: 16px;
    }
</style>


<h1>Create a Team</h1>

{% if message %}
    <h1 style="background-color: blue; color: white;">{{ message }}</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label>Team Name</label>
    <input type="text" placeholder="Enter a team name" name="fantasy-team-name" />

    <p>
         <input type="submit" value="Submit" />
    </p>
</form>